body {
    background-color: lightblue;
}

h1 {
    font-family: "Monaco", monospace;
    font-size: 30px;
    text-align: center;
}

.navbar {
    display: flex;
}

#layout-container {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
}

#main-component {
    background-color: rgb(132, 187, 206);
}


li {
    flex: 1;
    list-style-type: none;
    font-size: 1rem;
}

ul li {
    display: block;
    text-align: center;
    color: black;
    padding: 20px;
    font-family: "Monaco", monospace;
    font-size: 1rem;
}

ol li {
    font-family: "Monaco", monospace;
}

ul li a:hover {
    background-color: rgb(166, 217, 235);
}

p {
    font-family: "Monaco", monospace;
    font-size: 15px;
}